<% title = "Habit Tracker - Dashboard" %>

<nav id="top" class="navbar mb-2 px-2">
	<img src="/images/logo.png" alt="Habit tracker logo" width="64px" height="64px">
  <h2 class="text-secondary">Habit Tracker</h2>
  <form class="form-inline">
		<span class="mx-2">Hello, <%= userName %>!</span>
    <a href="/" class="btn btn-outline-secondary my-2 my-sm-0">Logout</a>
  </form>
</nav>

<form action="/habits/new/?id=<%= userId%>" method="post">
	<div class="input-group mb-3 mx-auto" style="width: 60rem;">
		<input type="text" class="form-control" name="desc" placeholder="Add a new habit..." aria-label="Add a new habit..." aria-describedby="button-addon2" required>
		<button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add Habit</button>
	</div>
</form>


<% if (habits.length > 0) { %>

	<div class="col col-12 mx-auto d-flex align-items-center justify-content-between">
		<p class="fs-3">Your habits:</p>

		<div class="d-flex justify-content-center align-items-center gap-1">
			<span class="fs-5">View: &nbsp;</span>
			<form action="/users/change-view/?userId=<%= userId%>&view=daily" method="post">
				<button type="submit" class="btn btn-secondary <%= view === 'daily' ? 'active' : '' %>">Daily</button>
			</form>
			<form action="/users/change-view/?userId=<%= userId%>&view=weekly" method="post">
				<button type="submit" class="btn btn-secondary <%= view === 'weekly' ? 'active' : '' %>">Weekly</button>
			</form>
		</div>
	</div>

	<ul class="list-group my-2 col col-12 mx-auto">
		<% for (let i = habits.length - 1; i >= 0; i--) { %>
			<li class="list-group-item d-flex justify-content-between align-items-center gap-1 border-bottom p-2">

				<div class="align-self-center" style="width: 8rem; font-weight: bold;">
					<%= habits[i].desc %>
				</div>

				<% if (view === 'weekly') { %>
					<% for (let j = 0; j < habits[i].dates.length; j++) { %>
						<div id="weekly-view" class="d-flex flex-column justify-content-center align-items-center">
							<%= j !== habits[i].dates.length - 1 ? habits[i].dates[j].Date.toLocaleDateString('en-IN') : 'Today' %>
							<p>
								<%= habits[i].dates[j].Date.toLocaleDateString('en-IN', { weekday: 'short' })%>
							</p>
							<form action="/habits/status/?userId=<%= userId%>&habitId=<%= habits[i]._id %>&dateId=<%= habits[i].dates[j]._id %>" method="post">
								<button type="submit" style="border: none; background: transparent;">
									<% if (habits[i].dates[j].Status === 'None') { %>
										<i class="fa-solid fa-circle" style="font-size: 32px; color: white;"></i>
									<% } else if(habits[i].dates[j].Status === 'Not Done') { %>
										<i class="fa-solid fa-circle-xmark" style="font-size: 32px;color: red;"></i>
									<% } else { %>
										<i class="fa-solid fa-circle-check" style="font-size: 32px;color: #4aff00;"></i>
									<% } %>
								</button>
							</form>
						</div>
					<% } %>
				<% } else { %>
						<div id="daily-view" class="d-flex justify-content-between align-items-center gap-1">
							Today, <%= habits[i].dates[6].Date.toDateString('en-IN') %>
							<br>
							<form action="/habits/status/?userId=<%= userId%>&habitId=<%= habits[i]._id %>&dateId=<%= habits[i].dates[6]._id %>" method="post">
								<button type="submit" style="border: none; background: transparent;">
									<% if (habits[i].dates[6].Status === 'None') { %>
										<i class="fa-solid fa-circle" style="font-size: 32px; color: white;"></i>
									<% } else if(habits[i].dates[6].Status === 'Not Done') { %>
										<i class="fa-solid fa-circle-xmark" style="font-size: 32px;color: red;"></i>
									<% } else { %>
										<i class="fa-solid fa-circle-check" style="font-size: 32px;color: #4aff00;"></i>
									<% } %>
								</button>
							</form>
						</div>
					
				<% } %>
					
				<form class="align-self-center" action="/habits/delete/?userId=<%= userId%>&habitId=<%= habits[i]._id %>" method="post">
						<button class="btn btn-sm btn-danger" type="submit">Delete</button>
				</form>

			</li>
		<% } %>
	</ul>

<% } %>